.button {
  &_user {
    &-white {
      background: 0 0;
      border: none;
      border-radius: 0.2rem;
      color: #fff;
      position: relative;
      height: 3.6rem;
      margin: 0;
      min-width: 6.4rem;
      padding: 0 1.6rem;
      display: inline-block;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0;
      overflow: hidden;
      will-change: box-shadow;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      outline: none;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      line-height: 3.6rem;
      vertical-align: middle;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      &:active {
        background-color: rgba(158, 158, 158, 0.4);
      }
      &:focus:not(:active) {
        background-color: rgba(0, 0, 0, 0.12);
      }
      &:hover {
        background-color: rgba(158, 158, 158, 0.2);
      }
    }
  }
  &_materialIcons {
    top: -0.1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    font-size: 3.6rem;
    position: relative;
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}
