%readOnly {
  border: 0;
  box-shadow: none;
  background-color: inherit;
}

.daily {
  background-color: khaki;
  display: grid;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 767px) {
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
  }
  &_weather {
    &:read-only {
      @extend %readOnly;
    }
    height: auto;
    display: grid;
    grid-template-columns: 20% 80%;
  }
}
