%readOnly {
    border: 0;
    box-shadow: none;
    background-color: inherit;
}

.daily {
    background-color: khaki;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    &_date {
        &:read-only {
            @extend %readOnly;
        }
        height: 100%;
        width: 100%;
        text-align: center;
    }
    &_weather {
        &:read-only {
            @extend %readOnly;
        }
        height: auto;
    }
}
