.iconButton {
  position: relative;
  &_text {
    text-align: left;
    height: 2.5rem;
    padding: 0;
    background-color: inherit;
  }
  &_detail {
    text-align: center;
  }
  &_item {
    &-off {
      position: absolute;
      z-index: 1;
    }
    &-begin {
      position: absolute;
      z-index: 10;
    }
    &-end {
      position: absolute;
      z-index: 10;
    }
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  &_empty {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 5;
    cursor: pointer;
  }
}
