.inputTime {
  input + span {
    padding-right: 3rem;
  }

  input:invalid + span:after {
    position: absolute;
    content: '✖';
    padding-left: 0.5rem;
  }

  input:valid + span:after {
    position: absolute;
    content: '✓';
    padding-left: 0.5rem;
  }
}
