.menu {
  &_navbar {
    align-items: center;
    background-color: blue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.8rem 1.6rem;
    @media (min-width: 992px) {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }
}
