.navbar {
    position: relative;
    &__brand {
        color: rgba(0, 0, 0, 0.9);
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
    &__toggler {
        color: rgba(0, 0, 0, 0.5);
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem;
        @media (min-width: 992px) {
            display: none;
        }
    }
    &__collapse {
        @keyframes navbarShow {
            from {
                height: 0;
            }
            to {
                height: 138px;
            }
        }
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        display: none;
        @media (min-width: 992px) {
            display: flex !important;
            flex-basis: auto;
            height: auto;
            position: relative;
        }
        &--open {
            position: absolute;
            top: 57px;
            right: 15px;
            border: 1px solid blue;
            background: blue;
            border-radius: 4px;
            z-index: 100;
            display: block;
            animation: navbarShow 1s linear;
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        @media (min-width: 992px) {
            flex-direction: row;
        }
    }
}
