.note {
  display: grid;
  gap: 0.4em;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  @media (min-width: 425px) {
    grid-template-rows: 10rem 10rem 25rem 30rem 30rem 5rem;
    max-width: 40rem;
  }
  @media (min-width: 768px) {
    grid-template-rows: 5rem 5rem 25rem 30rem 30rem 5rem;
    max-width: 72rem;
  }
  @media (min-width: 1024px) {
    grid-template-rows: 5rem 5rem 25rem 30rem 30rem 5rem;
    max-width: 97rem;
  }
  &_header {
    grid-row: 1;
    display: grid;
    gap: 0.4em;
    @media (min-width: 425px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &_morning {
    grid-row: 2;
    display: grid;
    gap: 0.4em;
    @media (min-width: 425px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &_timeline {
    grid-row: 3;
  }
  &_weather {
    height: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: lightyellow;
    border-radius: 0.8rem;
  }
  &_mood {
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-radius: 0.8rem;
  }
  &_pickUpTime {
    background-color: aqua;
    border-radius: 0.8rem;
  }
  &_sendTemp {
    background-color: lightcoral;
    border-radius: 0.8rem;
  }
}
