.note {
  display: grid;
  gap: 0.4em;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  @media (min-width: 425px) {
    grid-template-rows: 10.8rem 10rem 25rem auto;
    max-width: 40rem;
  }
  @media (min-width: 768px) {
    grid-template-rows: 5rem 5rem 25rem auto;
    max-width: 72rem;
    @media (min-width: 1024px) {
      max-width: 97rem;
    }
  }
  &_header {
    grid-row: 1;
    display: grid;
    gap: 0.4em;
    @media (min-width: 425px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &_morning {
    grid-row: 2;
    display: grid;
    gap: 0.4em;
    @media (min-width: 425px) {
      grid-template-columns: 1fr;
      margin-bottom: 0.4rem;
    }
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 5rem 5rem;
      margin-bottom: 0;
    }
  }
  &_timeline {
    grid-row: 3;
  }
  &_weather {
    height: auto;
    display: grid;
    grid-template-columns: 30.5% 69.5%;
    background-color: lightyellow;
    border-radius: 0.8rem;
  }
  &_mood {
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 30.5% 69.5%;
    border-radius: 0.8rem;
  }
  &_pickUpTime {
    background-color: aqua;
    display: grid;
    grid-template-columns: 30.5% 69.5%;
    border-radius: 0.8rem;
  }
  &_sendTemp {
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 30.5% 69.5%;
    border-radius: 0.8rem;
  }
  &_caption {
    margin: auto 1rem;
  }
  &_contents {
    display: flex;
  }
  &_description {
    grid-row: 4;
    display: grid;
    grid-gap: 0.4em;
    @media (min-width: 425px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &_home {
    border-radius: 0.8rem;
    background-color: pink;
    display: grid;
    grid-template-rows: 2.5rem 8rem 2.5rem 8rem 2.5rem 8rem 2.5rem 8rem;
    grid-gap: 0.4em;
  }
  &_nurserySchool {
    border-radius: 0.8rem;
    background-color: lightcyan;
    display: grid;
    grid-template-rows: 2.5rem 8rem 2.5rem 8rem 2.5rem 8rem 2.5rem 8rem;
    grid-gap: 0.4em;
  }
  &_sectionTitle {
    background-color: transparent;
  }
  &_textArea {
    text-align: center;
  }
}
