.timeline {
  overflow: auto;

  // スクロールバーの見た目を消す
  // for Chrome, Safari, Edge
  &::-webkit-scrollbar {
    display: none;
  }
  // for firefox
  scrollbar-width: none;

  &_header {
    top: 0;
    position: sticky;
    background-color: white;
    border: 0.1rem solid black;
    border-top: black;
    border-left: none;
    border-right: none;
    height: 5rem;
    display: grid;
    grid-template-columns: 14% 20.5% 20.5% 20.5% 20.5%;
    grid-gap: 1%;
    grid-template-rows: 5rem;
    z-index: 10;
  }
  &_col {
    text-align: center;
    border: 0.2rem solid #000;
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;
  }
  &_row {
    border: 0.1rem solid black;
    border-top: black;
    border-left: none;
    border-right: none;
    height: 3rem;
    display: grid;
    grid-template-columns: 14% 20.5% 20.5% 20.5% 20.5%;
    grid-gap: 1%;
    z-index: 1;
  }
  &_hour {
    margin: auto 1rem;
  }
  &_shit {
    height: inherit;
    border: 0.2rem solid #000;
    border-top: none;
    border-bottom: none;
  }
  &_eat {
    height: inherit;
  }
  &_sleep {
    height: inherit;
  }
  &_temperature {
    height: inherit;
  }
}
