%readOnly {
  border: 0;
  box-shadow: none;
  background-color: inherit;
}

.title {
  width: 100%;
  padding: 0 0;
  margin: 0 auto;
  &_header {
    text-align: center;
    display: inline;
  }
  &_date {
    &:read-only {
      @extend %readOnly;
    }
    text-align: right;
    border: 0.1rem solid;
  }
  &_search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  @media (min-width: 425px) {
    max-width: 40rem;
  }
  @media (min-width: 768px) {
    max-width: 72rem;
  }
  @media (min-width: 1024px) {
    max-width: 97rem;
  }
}
