.user {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0.8rem;
  width: 100%;
  right: 0;
  padding-left: 1rem;
  justify-content: flex-end;
  padding-right: 1rem;
  &_pic {
    top: -0.2rem;
    position: relative;
    display: inline-block;
    background-image: url(/images/profile_placeholder.png);
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    background-size: 4rem;
    border-radius: 2rem;
  }
  &_name {
    &-white {
      font-size: 1.6rem;
      line-height: 3.6rem;
      padding-right: 1rem;
      padding-left: 2rem;
      color: #fff;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    }
  }
}
