.box6 {
  background-color: lightsalmon;
}
.off {
  color: #ccc;
}
.home {
  grid-column: 2 / 4;
  grid-row: 4 / 18;
  background-color: lightyellow;
  display: grid;
  grid-template-rows: 2.4rem 8rem 2.4rem 8rem 2.4rem 8rem 2.4rem 8rem;
  grid-gap: 0;
}
.nurserySchool {
  grid-column: 2 / 4;
  grid-row: 18 / 27;
  background-color: lightcyan;
  display: grid;
  grid-template-rows: 2.4rem 8rem 2.4rem 8rem 2.4rem 8rem 2.4rem 8rem;
  grid-gap: 0;
}
.sectionTitle {
  background-color: gray;
}
.noResize {
  resize: none;
}
.fill {
  width: 100%;
  height: 100%;
}
